html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 66px;
}

.angle-down::after {
  background-image: url(/images/angle-down-solid.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.member-service {
  list-style: none;
  margin: 25px 0 0 20px;
}

.service_link {
  display: inline-block;
  padding-right: 25px;
  font-size: 15px;
}

.service_link a {
  position: relative;
}

.service_link a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -20px;
  display: block;
  border: 1px solid rgba(83, 148, 223, 0.726);
}

.dealer a {
  position: relative;
}

.dealer_link a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -20px;
  display: block;
  border: 1px solid rgba(83, 148, 223, 0.726);
}

.service_link a,
.dealer_link a {
  text-decoration: none;
  color: #333;
}

.dealer {

  list-style: none;
  margin: 25px 20px 0 0;
}

.dealer_link {
  display: inline-block;
  padding-right: 25px;
  font-size: 15px;
}

.logo img {
  margin-top: 10px;
  width: 51px;
  height: 51px;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(https://assets.volvocars.com/kr/~/media/row/korea/why-volvo/sup00164_1920.jpg?w=4096);
  font-size: 1.2rem;
  width: 100%;
  height: 1080px;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 150px 30px 0;
  background-repeat: no-repeat;
}

h2{
  font-size:3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:200;
  color:white;
  padding:20px 0;
}
.main{
  padding:0;
  position: relative;
  width:100%;
  height:100vh;
  overflow: hidden;
}
.main-container{
  width: 100vw;
  height: 100vh;
}
.main-container section{
  width:100%;
  position: absolute;
}
.be-better, .s90,.xc90{
  background-size:cover;
  width:100%;
  height:100vh;
  position: relative;
}
.be-better{
  top:0;
  left:0;
  background-image: url(https://assets.volvocars.com/kr/~/media/row/korea/why-volvo/sup00164_1920.jpg?w=2048);
}
.s90{
  top:0;
  left:100%;
  background-image: url(https://assets.volvocars.com/kr/~/media/row/korea/my21_pdp/s90/the-new-s90-homepage-hero.jpg?w=2048);
}
.xc90{
  top:0;
  left:200%;
  background-image: url(https://assets.volvocars.com/kr/~/media/row/korea/my21_pdp/xc90/1-light-versionste254notalent.jpg?w=2048);
}
.content-box{
  width:300px;
  height:200px;
  position: absolute;
  padding:0 10px;
}
.be-better-content{
  top:25%;
  left:10%;
}
.s90-content{
  top:25%;
  right:10%;
  text-align: right;
}
.xc90-content{
  top:25%;
  left:10%;
}
.be-better__short{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:200;
  display: block;
  font-size:1.6rem;
  color:white;
}
.s90__short{
  position: absolute;
  top:0px;
  right:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:200;
  color:white;
  font-size:1.6rem;
  display: block;
}
.section__more{
  background-color: transparent;
  margin:20px 0 0 0;
  padding:10px 40px;
  border:1px solid white;
  color:white;
  font-size:1.6rem;
}
.arrow-icon::after{
  display: inline-block;
  content: "";
  width:10px;
  height:10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/angle-right-solid.svg);
}
.footer-bg {
  background-color: #000;
}
footer *{
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}
.footer-wrapper {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.footer-menulist {
  width: 624px;
  margin: 0 auto;
  padding-top: 50px;
}
.footer-menuitem {
  color: #fff;
  display: inline-block;
  margin: 10px 11px;
}
.footer-menuitem a {
  color: #fff;
  padding: 5px;
}
.footer-menuitem:after {
  content: ">";
  padding-left: 2px;
}
.location-list {
  color: #fff;
  margin-top: 20px;
}
.location-item {
  padding: 15px;
}
.copyright{
  width: 260px;
  margin: 30px auto 0;
  color: #999;
}
.copyright span {
  display: block;
  font-size: 10px;
}
.policy {
  margin-top: 20px;
  color: #fff;
}
.policy-item {
  display: inline-block;
}
.policy-item a{
  padding: 10px;
  color: #fff;
}
.volvo-logo {
  padding: 10px;
  margin-top: 30px;
}
.btn-up {
  display: inline-block;
  border: 2px solid #fff;
  margin: 30px 0 20px;
}
.btn-up a{
  display: inline-block;
  padding: 10px 45px;
  color: #fff;
}
.btn-up a:hover{
  background-color: #fff;
  color: #000;
  transition: all .3s;
  padding: 10px 45px;
}
.arrow-right::after{
  background-image: url(../images/angle-right-solid.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
}
.icon-facebook{
  background-image: url(../images/facebook-square-brands.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width:20px;
  height:20px;
  display: inline-block;
}
.icon-instagram{
  display: inline-block;
  background-image: url(../images/instagram-brands.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width:20px;
  height:20px;
}
.icon-youtube{
  background-image: url(../images/youtube-brands.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width:20px;
  height:20px;
}
.arrow-top::after{
  background-image: url(../images/angle-up-solid.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content:"";
  display:inline-block;
  width:10px;
  height:10px;
  margin-left:10px;
}